@font-face {
  font-family: "iconfont"; /* Project id 4994961 */
  src: url('iconfont.woff2?t=1754966542112') format('woff2'),
       url('iconfont.woff?t=1754966542112') format('woff'),
       url('iconfont.ttf?t=1754966542112') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiaozi2:before {
  content: "\e709";
}

.icon-jiaozi-:before {
  content: "\e623";
}

.icon-jidan:before {
  content: "\e602";
}

.icon-miantiao2:before {
  content: "\e604";
}

.icon-fan:before {
  content: "\e61a";
}

.icon-dianfanbao:before {
  content: "\e6be";
}

.icon-a-058_miantiao:before {
  content: "\e721";
}

.icon-chow-meinx:before {
  content: "\e622";
}

.icon-food31:before {
  content: "\e6a5";
}

.icon-lajiao1ge:before {
  content: "\e626";
}

.icon-lajiao3ge:before {
  content: "\e628";
}

.icon-lajiao2ge:before {
  content: "\e629";
}

.icon-shucai-:before {
  content: "\e68f";
}

.icon-xiangcai:before {
  content: "\e6a9";
}

.icon-diancandingdan:before {
  content: "\e627";
}

.icon-fanhui1:before {
  content: "\e637";
}

.icon-diancan:before {
  content: "\e691";
}

.icon-diancan1:before {
  content: "\e601";
}

.icon-history:before {
  content: "\e6fc";
}

.icon-jintian:before {
  content: "\e654";
}

.icon-lishi2:before {
  content: "\e61d";
}

.icon-zhongxindayin-01:before {
  content: "\e600";
}

.icon-lajitong:before {
  content: "\e605";
}

.icon-qian:before {
  content: "\e607";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-icecream:before {
  content: "\e669";
}

.icon--bingjiling:before {
  content: "\e611";
}

.icon-bingjiling:before {
  content: "\e60b";
}

.icon-ziyuan:before {
  content: "\e647";
}

.icon-quanbu:before {
  content: "\e61b";
}

