@font-face {
  font-family: "iconfont"; /* Project id 4994961 */
  src: url('iconfont.woff2?t=1754644048590') format('woff2'),
       url('iconfont.woff?t=1754644048590') format('woff'),
       url('iconfont.ttf?t=1754644048590') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-food31:before {
  content: "\e6a5";
}

.icon-lajiao1ge:before {
  content: "\e626";
}

.icon-lajiao3ge:before {
  content: "\e628";
}

.icon-lajiao2ge:before {
  content: "\e629";
}

.icon-shucai-:before {
  content: "\e68f";
}

.icon-xiangcai:before {
  content: "\e6a9";
}

.icon-fanhui:before {
  content: "\e62b";
}

.icon-diancandingdan:before {
  content: "\e627";
}

.icon-fanhui1:before {
  content: "\e637";
}

.icon-diancan:before {
  content: "\e691";
}

.icon-diancan1:before {
  content: "\e601";
}

.icon-jixu:before {
  content: "\e6f6";
}

.icon-nijixu:before {
  content: "\e778";
}

.icon-a-zu7173:before {
  content: "\e609";
}

.icon-history:before {
  content: "\e6fc";
}

.icon-jintian:before {
  content: "\e654";
}

.icon-lishi2:before {
  content: "\e61d";
}

.icon-zhongxindayin-01:before {
  content: "\e600";
}

.icon-lajitong:before {
  content: "\e605";
}

.icon-del:before {
  content: "\e616";
}

.icon-qian:before {
  content: "\e607";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-icecream:before {
  content: "\e669";
}

.icon--bingjiling:before {
  content: "\e611";
}

.icon-bingjiling:before {
  content: "\e60b";
}

.icon-ziyuan:before {
  content: "\e647";
}

.icon-jiaozi:before {
  content: "\e612";
}

.icon-mifan:before {
  content: "\e708";
}

.icon-mifan1:before {
  content: "\e619";
}

.icon-miantiao:before {
  content: "\e61c";
}

.icon-hebaodan:before {
  content: "\e621";
}

.icon-gaijiaofan:before {
  content: "\e624";
}

.icon-quanbu:before {
  content: "\e61b";
}

.icon-hebaodan1:before {
  content: "\e60a";
}

.icon-miantiao1:before {
  content: "\e822";
}

