<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jim.ssr.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.jim.ssr.entity.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="menu_info" column="menu_info" jdbcType="VARCHAR"/>
            <result property="num" column="num" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="createDate" column="createDate" jdbcType="VARCHAR"/>
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,menu_info,num,
        status,price,createDate,
        comment
    </sql>

    <insert id="newOrder" keyColumn="id" keyProperty="id" parameterType="com.jim.ssr.entity.dto.OrderDTO" useGeneratedKeys="true">
        insert into tbl_order
        ( menu_info,num
        ,price,createDate
        ,comment)
        values (#{menuInfo,jdbcType=VARCHAR},#{num,jdbcType=INTEGER}
               ,#{price,jdbcType=INTEGER},#{createDate,jdbcType=VARCHAR}
               ,#{comment,jdbcType=VARCHAR});
        insert into tbl_order_detail
        ( order_id,name1,name2,price,size,num,comment)
        values
        <foreach collection="orderList" item="detail" index="no" separator=",">
            (#{id,jdbcType=INTEGER},#{detail.name1}, #{detail.name2}, #{detail.price},
            #{detail.size}, #{detail.num},#{detail.comment})
        </foreach>
    </insert>


    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tbl_order
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tbl_order
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.jim.ssr.entity.Order" useGeneratedKeys="true">
        insert into tbl_order
        ( id,menu_info,num
        ,status,price,createDate
        ,comment)
        values (#{id,jdbcType=BIGINT},#{menu_info,jdbcType=VARCHAR},#{num,jdbcType=INTEGER}
        ,#{status,jdbcType=INTEGER},#{price,jdbcType=INTEGER},#{createDate,jdbcType=VARCHAR}
        ,#{comment,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jim.ssr.entity.Order" useGeneratedKeys="true">
        insert into tbl_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="menu_info != null">menu_info,</if>
                <if test="num != null">num,</if>
                <if test="status != null">status,</if>
                <if test="price != null">price,</if>
                <if test="createDate != null">createDate,</if>
                <if test="comment != null">comment,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="menu_info != null">#{menu_info,jdbcType=VARCHAR},</if>
                <if test="num != null">#{num,jdbcType=INTEGER},</if>
                <if test="status != null">#{status,jdbcType=INTEGER},</if>
                <if test="price != null">#{price,jdbcType=INTEGER},</if>
                <if test="createDate != null">#{createDate,jdbcType=VARCHAR},</if>
                <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jim.ssr.entity.Order">
        update tbl_order
        <set>
                <if test="menu_info != null">
                    menu_info = #{menu_info,jdbcType=VARCHAR},
                </if>
                <if test="num != null">
                    num = #{num,jdbcType=INTEGER},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=INTEGER},
                </if>
                <if test="price != null">
                    price = #{price,jdbcType=INTEGER},
                </if>
                <if test="createDate != null">
                    createDate = #{createDate,jdbcType=VARCHAR},
                </if>
                <if test="comment != null">
                    comment = #{comment,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jim.ssr.entity.Order">
        update tbl_order
        set 
            menu_info =  #{menu_info,jdbcType=VARCHAR},
            num =  #{num,jdbcType=INTEGER},
            status =  #{status,jdbcType=INTEGER},
            price =  #{price,jdbcType=INTEGER},
            createDate =  #{createDate,jdbcType=VARCHAR},
            comment =  #{comment,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
